In [1]:
import pandas as pd

In [2]:
arabica = pd.read_csv('data/arabica_data_cleaned.csv')
arabica.columns

Index(['Unnamed: 0', 'Species', 'Owner', 'Country.of.Origin', 'Farm.Name',
       'Lot.Number', 'Mill', 'ICO.Number', 'Company', 'Altitude', 'Region',
       'Producer', 'Number.of.Bags', 'Bag.Weight', 'In.Country.Partner',
       'Harvest.Year', 'Grading.Date', 'Owner.1', 'Variety',
       'Processing.Method', 'Aroma', 'Flavor', 'Aftertaste', 'Acidity', 'Body',
       'Balance', 'Uniformity', 'Clean.Cup', 'Sweetness', 'Cupper.Points',
       'Total.Cup.Points', 'Moisture', 'Category.One.Defects', 'Quakers',
       'Color', 'Category.Two.Defects', 'Expiration', 'Certification.Body',
       'Certification.Address', 'Certification.Contact', 'unit_of_measurement',
       'altitude_low_meters', 'altitude_high_meters', 'altitude_mean_meters'],
      dtype='object')

In [3]:
arabica_features = arabica[['Species','Country.of.Origin','Region','Company','Harvest.Year','Aroma','Cupper.Points','Sweetness','Clean.Cup','Uniformity','Balance','Body','Acidity','Aftertaste','Flavor','Total.Cup.Points']]
arabica_features.head()

,Species,Country.of.Origin,Region,Company,Harvest.Year,Aroma,Cupper.Points,Sweetness,Clean.Cup,Uniformity,Balance,Body,Acidity,Aftertaste,Flavor,Total.Cup.Points
0,Arabica,Ethiopia,guji-hambela,metad agricultural developmet plc,2014,8.67,8.75,10.0,10.0,10.0,8.42,8.50,8.75,8.67,8.83,90.58
1,Arabica,Ethiopia,guji-hambela,metad agricultural developmet plc,2014,8.75,8.58,10.0,10.0,10.0,8.42,8.42,8.58,8.50,8.67,89.92
2,Arabica,Guatemala,NaN,NaN,NaN,8.42,9.25,10.0,10.0,10.0,8.42,8.33,8.42,8.42,8.50,89.75
3,Arabica,Ethiopia,oromia,yidnekachew debessa coffee plantation,2014,8.17,8.67,10.0,10.0,10.0,8.25,8.50,8.42,8.42,8.58,89.00
4,Arabica,Ethiopia,guji-hambela,metad agricultural developmet plc,2014,8.25,8.58,10.0,10.0,10.0,8.33,8.42,8.50,8.25,8.50,88.83

In [4]:
arabica_features = arabica_features.rename(columns={'Country.of.Origin':'Country','Harvest.Year':'Harvest Year','Cupper.Points':'Cupper Points','Clean.Cup':'Clean Cup','Total.Cup.Points':'Total Cup Points'})
arabica_features.head()

,Species,Country,Region,Company,Harvest Year,Aroma,Cupper Points,Sweetness,Clean Cup,Uniformity,Balance,Body,Acidity,Aftertaste,Flavor,Total Cup Points
0,Arabica,Ethiopia,guji-hambela,metad agricultural developmet plc,2014,8.67,8.75,10.0,10.0,10.0,8.42,8.50,8.75,8.67,8.83,90.58
1,Arabica,Ethiopia,guji-hambela,metad agricultural developmet plc,2014,8.75,8.58,10.0,10.0,10.0,8.42,8.42,8.58,8.50,8.67,89.92
2,Arabica,Guatemala,NaN,NaN,NaN,8.42,9.25,10.0,10.0,10.0,8.42,8.33,8.42,8.42,8.50,89.75
3,Arabica,Ethiopia,oromia,yidnekachew debessa coffee plantation,2014,8.17,8.67,10.0,10.0,10.0,8.25,8.50,8.42,8.42,8.58,89.00
4,Arabica,Ethiopia,guji-hambela,metad agricultural developmet plc,2014,8.25,8.58,10.0,10.0,10.0,8.33,8.42,8.50,8.25,8.50,88.83

In [6]:
robusta = pd.read_csv('data/robusta_data_cleaned.csv')
robusta.columns

Index(['Unnamed: 0', 'Species', 'Owner', 'Country.of.Origin', 'Farm.Name',
       'Lot.Number', 'Mill', 'ICO.Number', 'Company', 'Altitude', 'Region',
       'Producer', 'Number.of.Bags', 'Bag.Weight', 'In.Country.Partner',
       'Harvest.Year', 'Grading.Date', 'Owner.1', 'Variety',
       'Processing.Method', 'Fragrance...Aroma', 'Flavor', 'Aftertaste',
       'Salt...Acid', 'Bitter...Sweet', 'Mouthfeel', 'Uniform.Cup',
       'Clean.Cup', 'Balance', 'Cupper.Points', 'Total.Cup.Points', 'Moisture',
       'Category.One.Defects', 'Quakers', 'Color', 'Category.Two.Defects',
       'Expiration', 'Certification.Body', 'Certification.Address',
       'Certification.Contact', 'unit_of_measurement', 'altitude_low_meters',
       'altitude_high_meters', 'altitude_mean_meters'],
      dtype='object')

In [ ]:
robusta.columns

In [7]:
robusta_features = robusta[['Species','Country.of.Origin','Region','Company','Harvest.Year','Fragrance...Aroma','Cupper.Points','Bitter...Sweet','Clean.Cup','Uniform.Cup','Balance','Mouthfeel','Salt...Acid','Aftertaste','Flavor','Total.Cup.Points']]
robusta_features.head()

,Species,Country.of.Origin,Region,Company,Harvest.Year,Fragrance...Aroma,Cupper.Points,Bitter...Sweet,Clean.Cup,Uniform.Cup,Balance,Mouthfeel,Salt...Acid,Aftertaste,Flavor,Total.Cup.Points
0,Robusta,Uganda,sheema south western,ankole coffee producers coop,2013,7.83,8.00,8.00,10.0,10.0,7.92,8.25,7.92,7.75,8.08,83.75
1,Robusta,India,chikmagalur karnataka indua,kaapi royale,2017,8.00,8.00,8.00,10.0,10.0,7.92,7.92,8.00,7.92,7.75,83.50
2,Robusta,India,chikmagalur,sethuraman estate,2015,7.92,8.00,7.83,10.0,10.0,7.92,7.83,8.00,7.92,7.83,83.25
3,Robusta,Uganda,central,ugacof ltd,2013,8.00,8.08,7.75,10.0,10.0,7.75,7.83,7.75,7.92,7.92,83.00
4,Robusta,Uganda,luwero central region,katuka development trust ltd,2013,8.33,7.67,7.58,10.0,10.0,7.75,8.25,7.75,7.83,7.83,83.00

In [8]:
robusta_features.columns

Index(['Species', 'Country.of.Origin', 'Region', 'Company', 'Harvest.Year',
       'Fragrance...Aroma', 'Cupper.Points', 'Bitter...Sweet', 'Clean.Cup',
       'Uniform.Cup', 'Balance', 'Mouthfeel', 'Salt...Acid', 'Aftertaste',
       'Flavor', 'Total.Cup.Points'],
      dtype='object')

In [10]:
robusta_features = robusta_features.rename(columns={'Country.of.Origin':'Country','Harvest.Year':'Harvest Year','Fragrance...Aroma':'Aroma','Cupper.Points':'Cupper Points','Bitter...Sweet':'Sweetness','Clean.Cup':'Clean Cup',
                                                   'Uniform.Cup':'Uniformity','Mouthfeel':'Body','Salt...Acid':'Acidity','Total.Cup.Points':'Total Cup Points'})
robusta_features.head()

,Species,Country,Region,Company,Harvest Year,Aroma,Cupper Points,Sweetness,Clean Cup,Uniformity,Balance,Body,Acidity,Aftertaste,Flavor,Total Cup Points
0,Robusta,Uganda,sheema south western,ankole coffee producers coop,2013,7.83,8.00,8.00,10.0,10.0,7.92,8.25,7.92,7.75,8.08,83.75
1,Robusta,India,chikmagalur karnataka indua,kaapi royale,2017,8.00,8.00,8.00,10.0,10.0,7.92,7.92,8.00,7.92,7.75,83.50
2,Robusta,India,chikmagalur,sethuraman estate,2015,7.92,8.00,7.83,10.0,10.0,7.92,7.83,8.00,7.92,7.83,83.25
3,Robusta,Uganda,central,ugacof ltd,2013,8.00,8.08,7.75,10.0,10.0,7.75,7.83,7.75,7.92,7.92,83.00
4,Robusta,Uganda,luwero central region,katuka development trust ltd,2013,8.33,7.67,7.58,10.0,10.0,7.75,8.25,7.75,7.83,7.83,83.00

In [11]:
arabica_features.head()

,Species,Country,Region,Company,Harvest Year,Aroma,Cupper Points,Sweetness,Clean Cup,Uniformity,Balance,Body,Acidity,Aftertaste,Flavor,Total Cup Points
0,Arabica,Ethiopia,guji-hambela,metad agricultural developmet plc,2014,8.67,8.75,10.0,10.0,10.0,8.42,8.50,8.75,8.67,8.83,90.58
1,Arabica,Ethiopia,guji-hambela,metad agricultural developmet plc,2014,8.75,8.58,10.0,10.0,10.0,8.42,8.42,8.58,8.50,8.67,89.92
2,Arabica,Guatemala,NaN,NaN,NaN,8.42,9.25,10.0,10.0,10.0,8.42,8.33,8.42,8.42,8.50,89.75
3,Arabica,Ethiopia,oromia,yidnekachew debessa coffee plantation,2014,8.17,8.67,10.0,10.0,10.0,8.25,8.50,8.42,8.42,8.58,89.00
4,Arabica,Ethiopia,guji-hambela,metad agricultural developmet plc,2014,8.25,8.58,10.0,10.0,10.0,8.33,8.42,8.50,8.25,8.50,88.83

In [12]:
combined_df = pd.concat([arabica_features,robusta_features])

In [13]:
combined_df.columns = map(str.lower, combined_df.columns)
combined_df.columns = combined_df.columns.str.replace(' ', '_')

In [14]:
combined_df.columns

Index(['species', 'country', 'region', 'company', 'harvest_year', 'aroma',
       'cupper_points', 'sweetness', 'clean_cup', 'uniformity', 'balance',
       'body', 'acidity', 'aftertaste', 'flavor', 'total_cup_points'],
      dtype='object')

In [15]:
combined_df.to_csv('coffeeclean.csv', index=False,encoding='utf-8')

In [32]:
coffee_df = pd.read_csv('coffeeclean.csv')
coffee_df.head()

,species,country,region,company,harvest_year,aroma,cupper_points,sweetness,clean_cup,uniformity,balance,body,acidity,aftertaste,flavor,total_cup_points
0,Arabica,Ethiopia,guji-hambela,metad agricultural developmet plc,2014,8.67,8.75,10.0,10.0,10.0,8.42,8.50,8.75,8.67,8.83,90.58
1,Arabica,Ethiopia,guji-hambela,metad agricultural developmet plc,2014,8.75,8.58,10.0,10.0,10.0,8.42,8.42,8.58,8.50,8.67,89.92
2,Arabica,Ethiopia,oromia,yidnekachew debessa coffee plantation,2014,8.17,8.67,10.0,10.0,10.0,8.25,8.50,8.42,8.42,8.58,89.00
3,Arabica,Ethiopia,guji-hambela,metad agricultural developmet plc,2014,8.25,8.58,10.0,10.0,10.0,8.33,8.42,8.50,8.25,8.50,88.83
4,Arabica,Brazil,NaN,NaN,2013,8.58,8.33,10.0,10.0,10.0,8.33,8.25,8.50,8.42,8.42,88.83

In [34]:
coffeequality = coffee_df.drop(['region','company'], axis=1)
coffeequality.dtypes

species              object
country              object
harvest_year          int64
aroma               float64
cupper_points       float64
sweetness           float64
clean_cup           float64
uniformity          float64
balance             float64
body                float64
acidity             float64
aftertaste          float64
flavor              float64
total_cup_points    float64
dtype: object

In [35]:
coffeequality['country']=coffeequality['country'].replace(r"\(.*\)","")
coffeequality['country']=coffeequality['country'].apply(str)

In [36]:
# function to remove non-ASCII 
def remove_non_ascii(country): 
    return ''.join(i for i in country if ord(i)<128) 
 
coffeequality['country'] = coffeequality['country'].apply(remove_non_ascii)

In [37]:
coffeequality.count()

species             1272
country             1272
harvest_year        1272
aroma               1272
cupper_points       1272
sweetness           1272
clean_cup           1272
uniformity          1272
balance             1272
body                1272
acidity             1272
aftertaste          1272
flavor              1272
total_cup_points    1272
dtype: int64

In [38]:
coffeequality.to_csv('coffeequality.csv', index=False,encoding='utf-8')

In [ ]:

combined_df['country']=combined_df['country'].str.replace(',','')

In [ ]:

combined_df['country']=combined_df['country'].str.replace('.','')

In [ ]:

combined_df['country']=combined_df['country'].str.replace('/','')

In [ ]:

combined_df['country']=combined_df['country'].str.replace('-','')

In [ ]:
combined_df['region']=combined_df['region'].str.replace('&','')
combined_df['company']=combined_df['company'].str.replace('&','')
combined_df['country']=combined_df['country'].str.replace('&','')

In [ ]:
combined_df['region']=combined_df['region'].str.replace(';','')
combined_df['company']=combined_df['company'].str.replace(';','')
combined_df['country']=combined_df['country'].str.replace(';','')

In [ ]:
combined_df['region']=combined_df['region'].str.replace(' ','')
combined_df['company']=combined_df['company'].str.replace(' ','')
combined_df['country']=combined_df['country'].str.replace(' ','')

In [ ]:
combined_df['region']=combined_df['region'].apply(str)
combined_df['company']=combined_df['company'].apply(str)

In [ ]:
combined_df=combined_df[combined_df['region'].notna()]
combined_df=combined_df[combined_df['company'].notna()]

In [ ]:
combined_df.count()

In [ ]:
combined_df=combined_df.dropna(how='any')
combined_df.count()

In [ ]:
# function to remove non-ASCII 
def remove_non_ascii(region): 
    return ''.join(i for i in region if ord(i)<128) 
 
combined_df['region'] = combined_df['region'].apply(remove_non_ascii)
combined_df['company'] = combined_df['company'].apply(remove_non_ascii)
combined_df['country'] = combined_df['country'].apply(remove_non_ascii)

In [ ]:
test = combined_df.drop(columns=['region','company'])
test.head()

In [ ]:
test.to_csv('test.csv', index=False,encoding='utf-8')